.footer_cont {
  height: 108px;
  border: 1px solid black;
  background-color: #cbe2d3;
  display: inline-flex;
  width: 100%;
  ul{
    width: 33%;
    margin-left: 193px;
  }
  li {
    margin: 10px;
  }
  a {
    color: black;
  }
}
