.header_cont {
  .offers {
    border: 1px solid #797979;
    border-bottom: none;
    background-color: #f2f2f2;
    padding: 5px;
  }
  .circle {
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px solid #797979;
    border-radius: 50%;
  }
  .nav_cont {
    border: 1px solid black;
    background-color: #cbe2d3;
  }

}
