.track{
    display: flex;
    position: absolute;
    transition: ease-in-out 1s;
    left: 0;
}
.mask{
    width: 1035px;
    height: 100%;
    overflow: hidden;
    position: absolute;
}
.mask_cont{
    height: 300px;
    position: relative;
}
