.card{
    margin: 20px;
    border: 1px solid #797979;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #6d6d6d;
    text-align: center;
    img{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    p,
    h3{
        margin: 10px;
    }
    .main_btn{
        height: 25px;
        background-color: #CBE2D3;
        border: none;
        border-radius: 5px;
        padding: 5px;
        box-shadow: 2px 2px 4px #6d6d6d;
    }
    .main_btn,
    .qty_cont{
        margin: 5px 5px 20px;
    }
    .qty_cont{
        display: inline-flex;
        border: 1px solid #797979;
        border-radius: 5px;
        div,
        button{
            width: 25px;
            height: 25px;
        }
        button{
            border: none;
            background: none;
        }
        div{
            border-left: 1px solid #797979;
            border-right: 1px solid #797979;
        }
    }
}



/* .btn_cont{
    height: 25px;
} */