form{

    .search_input{
        border: 1px solid #797979;
        border-radius: 5px;
    }
    .main_btn{
        height: 25px;
        background-color: #CBE2D3;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 4px #6d6d6d;
    }
}